* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PingFang TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header .nav {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 42px;
}
@media (max-width: 768px) {
  .header .nav {
    padding: 30px 30px;
  }
}
.header .nav .nav-mobile-logo {
  display: none;
}
@media (max-width: 768px) {
  .header .nav .nav-mobile-logo {
    display: flex;
  }
}
.header .nav picture .nav-logo {
  max-width: 250px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .header .nav picture .nav-logo {
    max-width: 120px;
  }
}
.header .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: #3F5D45;
  font-weight: 600;
}
.header .nav .nav-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
@media (max-width: 768px) {
  .header .nav .nav-list {
    display: none;
  }
}
.header .nav .nav-car {
  max-width: 24px;
  height: auto;
}

.footer .footer-up {
  background-color: #3F5D45;
}
.footer .footer-up .footer-up-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 122px;
}
@media (max-width: 1023px) {
  .footer .footer-up .footer-up-box {
    flex-direction: column;
    padding: 30px 30px;
    gap: 33px;
  }
}
.footer .footer-up .footer-up-box .up-left {
  display: flex;
  gap: 20px;
  font-size: 24px;
  color: #EAF0ED;
}
.footer .footer-up .footer-up-box .up-left img {
  width: 40px;
  height: 40px;
}
.footer .footer-up .footer-up-box .up-right {
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAF0ED;
}
.footer .footer-up .footer-up-box .up-right .mail {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.footer .footer-up .footer-up-box .up-right a .up-right-colorBox {
  width: 64px;
  height: 56px;
  background-color: #FFE180;
  position: relative;
}
.footer .footer-up .footer-up-box .up-right a .up-right-colorBox .r-arror {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .footer-dw {
  background-color: #EAF0ED;
}
.footer .footer-dw .footer-dw-box {
  padding: 30px 122px;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box {
    padding: 30px 30px;
  }
}
.footer .footer-dw .footer-dw-box .dw-up {
  display: flex;
  justify-content: space-between;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-up .dw-up-left {
    gap: 40px;
  }
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left .sweetaste {
  max-width: 172px;
  width: 100%;
  height: auto;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left .text {
  display: flex;
  flex-direction: column;
  color: #3F5D45;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-right {
  max-width: 60px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-up .dw-up-right {
    display: none;
  }
}
.footer .footer-dw .footer-dw-box .dw-dw {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-dw {
    flex-direction: column;
    gap: 23px;
  }
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-left {
  display: flex;
  gap: 8px;
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-left a .dw-dw-left-icon {
  width: 32px;
  height: 32px;
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-right {
  color: #3F5D45;
}

.index .banner {
  padding: 0px 42px;
  position: relative;
  display: flex;
}
@media (max-width: 854px) {
  .index .banner {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .index .banner {
    position: static;
    padding: 0px 30px;
  }
}
.index .banner .banner-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://bit.ly/2OhbMHr");
  position: relative;
  width: 100%;
  height: 496px;
}
@media (max-width: 768px) {
  .index .banner .banner-img {
    height: 277px;
  }
}
.index .banner .card-box {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 768px;
  height: 256px;
}
@media (max-width: 854px) {
  .index .banner .card-box {
    position: static;
    width: 100%;
    height: 180px;
    transform: none;
  }
}
.index .banner .card-box .card {
  position: relative;
  max-width: 256px;
  width: 100%;
  height: auto;
}
.index .banner .card-box .card .card-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 256px;
  height: auto;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  transition: filter 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.index .banner .card-box .card .card-bg1 {
  background-image: url("https://bit.ly/2R5tqwD");
}
.index .banner .card-box .card .card-bg2 {
  background-image: url("https://bit.ly/2Dwoxd7");
}
.index .banner .card-box .card .card-bg3 {
  background-image: url("https://bit.ly/2OUteif");
}
.index .banner .card-box .card .card-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 93, 69, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2;
  transition: opacity 1s ease;
}
.index .banner .card-box .card .card-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ffffff;
  writing-mode: vertical-rl;
}
@media (max-width: 854px) {
  .index .banner .card-box .card .card-overlay span {
    font-size: 20px;
  }
}
.index .banner .card-box .card:hover .card-overlay {
  opacity: 0;
}
.index .banner .card-box .card:hover .card-bg {
  filter: none;
}/*# sourceMappingURL=all.css.map */