* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PingFang TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header .nav {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 42px;
}
@media (max-width: 768px) {
  .header .nav {
    padding: 30px 30px;
  }
}
.header .nav .nav-mobile-logo {
  display: none;
}
@media (max-width: 768px) {
  .header .nav .nav-mobile-logo {
    display: flex;
  }
}
.header .nav picture .nav-logo {
  max-width: 250px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .header .nav picture .nav-logo {
    max-width: 120px;
  }
}
.header .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: #3F5D45;
  font-weight: 600;
}
.header .nav .nav-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
@media (max-width: 768px) {
  .header .nav .nav-list {
    display: none;
  }
}
.header .nav .nav-car {
  max-width: 24px;
  height: auto;
}

.footer .footer-up {
  background-color: #3F5D45;
}
.footer .footer-up .footer-up-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 122px;
}
@media (max-width: 1023px) {
  .footer .footer-up .footer-up-box {
    flex-direction: column;
    padding: 30px 30px;
    gap: 33px;
  }
}
.footer .footer-up .footer-up-box .up-left {
  display: flex;
  gap: 20px;
  font-size: 24px;
  color: #EAF0ED;
}
.footer .footer-up .footer-up-box .up-left img {
  width: 40px;
  height: 40px;
}
.footer .footer-up .footer-up-box .up-right {
  max-width: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAF0ED;
}
.footer .footer-up .footer-up-box .up-right .mail {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
.footer .footer-up .footer-up-box .up-right a .up-right-colorBox {
  width: 64px;
  height: 56px;
  background-color: #FFE180;
  position: relative;
}
.footer .footer-up .footer-up-box .up-right a .up-right-colorBox .r-arror {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .footer-dw {
  background-color: #EAF0ED;
}
.footer .footer-dw .footer-dw-box {
  padding: 30px 122px;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box {
    padding: 30px 30px;
  }
}
.footer .footer-dw .footer-dw-box .dw-up {
  display: flex;
  justify-content: space-between;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-up .dw-up-left {
    gap: 40px;
  }
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left .sweetaste {
  max-width: 172px;
  width: 100%;
  height: auto;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-left .text {
  display: flex;
  flex-direction: column;
  color: #3F5D45;
}
.footer .footer-dw .footer-dw-box .dw-up .dw-up-right {
  max-width: 60px;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-up .dw-up-right {
    display: none;
  }
}
.footer .footer-dw .footer-dw-box .dw-dw {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .footer .footer-dw .footer-dw-box .dw-dw {
    flex-direction: column;
    gap: 23px;
  }
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-left {
  display: flex;
  gap: 8px;
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-left a .dw-dw-left-icon {
  width: 32px;
  height: 32px;
}
.footer .footer-dw .footer-dw-box .dw-dw .dw-dw-right {
  color: #3F5D45;
}

.card {
  max-width: 300px;
  width: 100%;
}
.card .card-up {
  max-height: 315px;
  position: relative;
}
.card .card-up .dessert-img {
  width: 100%;
  max-height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-up .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 106px;
  background-color: #3F5D45;
  color: #EAF0ED;
  writing-mode: vertical-rl;
  letter-spacing: 4px;
  position: absolute;
  top: 0;
  left: 20px;
}
.card .card-up .love-icon {
  position: absolute;
  top: 20px;
  right: 22px;
}
.card .card-dw .text-box {
  display: flex;
}
.card .card-dw .text-box .name {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #3F5D45;
  padding: 13px 0;
  border-inline: 1px solid #EAF0ED;
}
.card .card-dw .text-box .money {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #3F5D45;
  font-weight: 600;
  border-right: 1px solid #EAF0ED;
}
.card .card-dw .shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background-color: #EAF0ED;
  color: #3F5D45;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #EAF0ED;
}

.index .banner {
  padding: 0px 42px;
  position: relative;
  display: flex;
}
@media (max-width: 854px) {
  .index .banner {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .index .banner {
    position: static;
    padding: 0px 30px;
  }
}
.index .banner .banner-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://bit.ly/2OhbMHr");
  position: relative;
  width: 100%;
  height: 496px;
}
@media (max-width: 768px) {
  .index .banner .banner-img {
    height: 277px;
  }
}
.index .banner .card-box {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 768px;
  height: 256px;
}
@media (max-width: 854px) {
  .index .banner .card-box {
    position: static;
    width: 100%;
    height: 180px;
    transform: none;
  }
}
.index .banner .card-box .card {
  position: relative;
  max-width: 256px;
  width: 100%;
  height: auto;
}
.index .banner .card-box .card .card-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 256px;
  height: auto;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  transition: filter 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}
.index .banner .card-box .card .card-bg1 {
  background-image: url("https://bit.ly/2R5tqwD");
}
.index .banner .card-box .card .card-bg2 {
  background-image: url("https://bit.ly/2Dwoxd7");
}
.index .banner .card-box .card .card-bg3 {
  background-image: url("https://bit.ly/2OUteif");
}
.index .banner .card-box .card .card-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 93, 69, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2;
  transition: opacity 1s ease;
}
.index .banner .card-box .card .card-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ffffff;
  writing-mode: vertical-rl;
}
@media (max-width: 854px) {
  .index .banner .card-box .card .card-overlay span {
    font-size: 20px;
  }
}
.index .banner .card-box .card:hover .card-overlay {
  opacity: 0;
}
.index .banner .card-box .card:hover .card-bg {
  filter: none;
}
.index .introduce {
  background-color: #EAF0ED;
  margin-top: 274px;
  height: 420px;
}
@media (max-width: 768px) {
  .index .introduce {
    display: none;
  }
}
.index .introduce .introduce-box {
  display: flex;
  align-items: center;
  padding: 0 42px;
}
@media (max-width: 1200px) {
  .index .introduce .introduce-box {
    justify-content: space-between;
  }
}
.index .introduce .introduce-box .introduce-img img {
  max-width: 460px;
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: -20px;
  display: block;
}
@media (max-width: 990px) {
  .index .introduce .introduce-box .introduce-img img {
    margin: 0;
    max-width: 420px;
  }
}
.index .introduce .introduce-box .text-box {
  height: 420px;
  padding: 70px 0 70px 55px;
  writing-mode: vertical-rl;
  color: #8DA291;
}
.index .introduce .introduce-box .text-box .text-box-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.index .introduce .introduce-box .text-box .text-box-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 64px;
}
.index .introduce .introduce-box .text-img {
  height: 460px;
  margin-top: -20px;
  display: block;
  margin-left: auto;
}
@media (max-width: 1200px) {
  .index .introduce .introduce-box .text-img {
    display: none;
  }
}
.index .introduce2 {
  background-color: #EAF0ED;
  margin-top: 105px;
  height: 420px;
}
@media (max-width: 768px) {
  .index .introduce2 {
    display: none;
  }
}
.index .introduce2 .introduce-box {
  display: flex;
  align-items: center;
  padding: 0 42px;
}
@media (max-width: 1200px) {
  .index .introduce2 .introduce-box {
    justify-content: space-between;
  }
}
.index .introduce2 .introduce-box .introduce-img img {
  max-width: 460px;
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: -20px;
  display: block;
}
@media (max-width: 990px) {
  .index .introduce2 .introduce-box .introduce-img img {
    margin: 0;
    max-width: 420px;
  }
}
.index .introduce2 .introduce-box .text-box {
  height: 420px;
  padding: 70px 55px 70px 0px;
  writing-mode: vertical-rl;
  color: #8DA291;
}
.index .introduce2 .introduce-box .text-box .text-box-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.index .introduce2 .introduce-box .text-box .text-box-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 64px;
}
.index .introduce2 .introduce-box .text-img {
  height: 460px;
  margin-top: -20px;
  display: block;
  padding-right: 42px;
}
@media (max-width: 1200px) {
  .index .introduce2 .introduce-box .text-img {
    display: none;
  }
}
.index .introduce-title-sm {
  display: none;
}
@media (max-width: 768px) {
  .index .introduce-title-sm {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .index .introduce-title-sm .introduce-title {
    padding: 30px 90px;
    margin: 0 auto;
  }
}
.index .introduce-bg-sm {
  display: none;
}
@media (max-width: 768px) {
  .index .introduce-bg-sm {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    background-image: url("https://bit.ly/2xPn7Eq");
    aspect-ratio: 3/2;
  }
}
.index .introduce-text-sm {
  display: none;
  background-color: #EAF0ED;
}
@media (max-width: 768px) {
  .index .introduce-text-sm {
    display: flex;
  }
}
.index .introduce-text-sm .introduce-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.index .introduce-text-sm .introduce-text .text {
  color: #8DA291;
}
.index .introduce-bg-sm-2 {
  background-image: url("https://bit.ly/2zzAQS4");
}
.index .last-title {
  max-width: 90px;
  width: 100%;
  padding: 95px 0 80px 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .index .last-title {
    max-width: none;
    padding: 30px 90px;
  }
}
.index .card-big-box .card-box {
  padding: 0 42px 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .index .card-big-box .card-box {
    gap: 0;
    justify-content: center;
    padding: 0 30px 30px;
  }
}
@media (max-width: 1023px) {
  .index .card-big-box .card-box .card1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .index .card-big-box .card-box .card3 {
    display: none;
  }
}

.produce .banner .banner-box {
  padding: 0 42px;
}
@media (max-width: 768px) {
  .produce .banner .banner-box {
    padding: 0;
  }
}
.produce .banner .banner-box .banner-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=2105&q=80");
  width: 100%;
  height: 496px;
}
@media (max-width: 768px) {
  .produce .banner .banner-box .banner-bg {
    height: 277px;
  }
}
.produce .banner .banner-box img {
  max-width: 90px;
  position: absolute;
  top: 40px;
  right: 40px;
}
@media (max-width: 768px) {
  .produce .banner .banner-box img {
    max-width: 60px;
    top: 30px;
    right: 30px;
  }
}
.produce .container .container-box {
  display: flex;
  padding: 60px 42px 0;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .produce .container .container-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .produce .container .container-box .container-left {
    width: 100%;
    padding-bottom: 30px;
  }
}
.produce .container .container-box .container-left .dessert-box {
  padding-right: 20px;
}
@media (max-width: 768px) {
  .produce .container .container-box .container-left .dessert-box {
    padding: 0;
  }
}
.produce .container .container-box .container-left .dessert-box .dessert-title {
  background-color: #3F5D45;
  color: #EAF0ED;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 102px;
  display: block;
}
@media (max-width: 768px) {
  .produce .container .container-box .container-left .dessert-box .dessert-title {
    padding: 16px 0;
    text-align: center;
  }
}
.produce .container .container-box .container-left .dessert-box .dessert {
  display: block;
  color: #3F5D45;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 64px;
  border: 1px solid #EAF0ED;
  border-top: none;
}
@media (max-width: 768px) {
  .produce .container .container-box .container-left .dessert-box .dessert {
    padding: 16px 0;
    text-align: center;
  }
}
.produce .container .container-box .container-left .dessert-box .dessert1 {
  background-color: #EAF0ED;
  border: 1px solid #EAF0ED;
}
.produce .container .container-box .container-right {
  flex: 1;
}
.produce .container .container-box .container-right .card-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1023px) {
  .produce .container .container-box .container-right .card-box {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .produce .container .container-box .container-right .card-box {
    justify-content: center;
    padding: 0 30px;
  }
}
.produce .container .container-box .container-right .card-box .card .card-up .dessert-img {
  max-width: 300px;
  height: 315px;
}
@media (max-width: 1023px) {
  .produce .container .container-box .container-right .card-box .card4,
  .produce .container .container-box .container-right .card-box .card5,
  .produce .container .container-box .container-right .card-box .card6 {
    display: none;
  }
}
.produce .page .page-big-box {
  display: flex;
  justify-content: flex-end;
  padding: 30px 42px 60px;
}
@media (max-width: 1023px) {
  .produce .page .page-big-box {
    justify-content: center;
  }
}
.produce .page .page-big-box .page-list {
  display: flex;
}
.produce .page .page-big-box .page-list .back-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
}
.produce .page .page-big-box .page-list .page {
  font-size: 20px;
  color: #3F5D45;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAF0ED;
  border-left: none;
}
.produce .page .page-big-box .page-list .page1 {
  background-color: #3F5D45;
  color: #EAF0ED;
}
.produce .page .page-big-box .page-list .page3 {
  border-right: none;
}

.member .container .container-box {
  padding: 0 122px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .member .container .container-box {
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .member .container .container-box {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left {
    max-width: 375px;
    width: 100%;
  }
}
.member .container .container-box .container-box-left .left-up-bg {
  background-color: #3F5D45;
}
.member .container .container-box .container-box-left .left-up-bg .left-title {
  font-size: 36px;
  color: #EAF0ED;
  padding: 40px 123px;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .left-title {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    max-width: 375px;
    width: 100%;
  }
}
.member .container .container-box .container-box-left .left-up-bg .left-social {
  display: none;
}
@media (max-width: 1023px) {
  .member .container .container-box .container-box-left .left-up-bg .left-social {
    display: flex;
    justify-content: center;
    background-color: #EAF0ED;
    padding: 30px;
  }
}
.member .container .container-box .container-box-left .left-up-bg .left-social .social-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .left-social .social-box {
    max-width: 375px;
    width: 100%;
  }
}
.member .container .container-box .container-box-left .left-up-bg .left-social .social-box .social {
  background-color: #FFFFFF;
  max-width: 330px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .left-social .social-box .social {
    max-width: 375px;
    width: 100%;
  }
}
.member .container .container-box .container-box-left .left-up-bg .left-social .social-box .social img {
  max-width: 108px;
  width: 100%;
  height: 20px;
}
.member .container .container-box .container-box-left .left-up-bg .left-social .social-box .google {
  border-inline: 1px solid #EAF0ED;
}
.member .container .container-box .container-box-left .left-up-bg .input-group {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .input-group {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.member .container .container-box .container-box-left .left-up-bg .input-group input {
  display: flex;
  color: #8DA291;
  padding: 18px 0 16px 64px;
  max-width: 330px;
  width: 100%;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .input-group input {
    width: 300px;
  }
}
.member .container .container-box .container-box-left .left-up-bg .input-group .icon {
  position: absolute;
  top: 46px;
  left: 50px;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .input-group .icon {
    left: 20px;
  }
}
.member .container .container-box .container-box-left .left-up-bg .remember-box {
  padding: 0 30px 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.member .container .container-box .container-box-left .left-up-bg .remember-box input {
  width: 16px;
  height: 16px;
}
.member .container .container-box .container-box-left .left-up-bg .remember-box label {
  color: #EAF0ED;
  font-weight: 600;
}
.member .container .container-box .container-box-left .left-up-bg .login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 16px 147px;
  background-color: #FFE180;
  border: 1px solid #FFE180;
}
@media (max-width: 768px) {
  .member .container .container-box .container-box-left .left-up-bg .login {
    padding: 16px 0;
    max-width: 375px;
    width: 100%;
  }
}
.member .container .container-box .container-box-left .left-up-bg .login span {
  font-size: 24px;
  font-weight: 600;
  color: #3F5D45;
}
.member .container .container-box .container-box-right {
  background-color: #EAF0ED;
  padding: 0 30px 0;
}
@media (max-width: 1023px) {
  .member .container .container-box .container-box-right {
    display: none;
  }
}
.member .container .container-box .container-box-right .right-box .title {
  display: block;
  color: #8DA291;
  font-size: 24px;
  font-weight: 300;
  padding: 40px 30px 36px;
}
.member .container .container-box .container-box-right .right-box .social-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 41px;
}
.member .container .container-box .container-box-right .right-box .social-box .social {
  background-color: #FFFFFF;
  max-width: 330px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member .container .container-box .container-box-right .right-box .social-box .social img {
  width: 108px;
  height: 20px;
}
.member .container .container-box .container-box-right .right-box .social-box .google {
  border-inline: 1px solid #EAF0ED;
}/*# sourceMappingURL=all.css.map */