.delivery {
    .delivery-container {
        .container-box {
            padding: 30px 122px 65px;
            display: flex;
            justify-content: space-between;

            @include card-1023 {
                flex-direction: column;
                gap: 20px;
                align-items: center;
                padding: 30px 60px 65px;

            }

            @include mobile {
                padding: 0;
            }

            .container-left {
                display: flex;
                flex-direction: column;
                max-width: 460px;
                width: 100%;
                background-color: #3F5D45;

                @include mobile {
                    max-width: 768px;
                }

                .date {
                    padding: 30px 40px;
                    @include mobile{
                        padding: 30px;
                    }

                    .top {
                        display: flex;
                        justify-content: space-between;

                        .title {
                            display: flex;
                            font-size: 36px;
                            font-weight: 600;
                            color: #EAF0ED;
                        }

                        .circle-box {
                            display: flex;
                            align-items: center;

                            .circle {
                                width: 20px;
                                height: 20px;
                                border: 1px solid #8DA291;
                                border-radius: 50%;
                            }

                            .circle1 {
                                border: 1px solid #EAF0ED;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .in-circle {
                                    width: 14px;
                                    height: 14px;
                                    border-radius: 50%;
                                    background-color: #EAF0ED;
                                }

                            }

                            .line {
                                width: 50px;
                                height: 1px;
                                background-color: #8DA291;
                            }
                        }
                    }

                    .form {
                        padding-top: 30px;

                        .form-name {
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;


                            .name {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                font-size: 20px;
                                color: #EAF0ED;
                                font-weight: 600;

                                .input-text {
                                    padding: 17px 0 17px 20px;
                                    color: #8DA291;
                                    font-weight: 300;

                                    @include mobile {
                                        max-width: 768px;
                                        width: 100%;
                                    }
                                }
                            }

                        }

                        .form-group-phone {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            font-weight: 600;
                            color: #EAF0ED;
                            padding: 16px 0;
                            font-size: 20px;

                            input {
                                padding: 17px 0 17px 20px;
                                color: #8DA291;
                                font-weight: 300;
                            }
                        }

                        .form-group-address {
                            label {
                                font-weight: 600;
                                color: #EAF0ED;
                                font-size: 20px;
                            }

                            .choose-address {
                                display: flex;
                                gap: 8px;
                                padding: 8px 0;


                                select {
                                    padding: 17px 20px 17px;
                                    width: 100%;
                                    color: #8DA291;
                                    font-weight: 300;
                                }
                            }

                            input {
                                font-weight: 300;
                                color: #8DA291;
                                padding: 17px 20px 17px;
                                display: block;
                                width: 100%;
                            }
                        }

                    }
                }
            }

            .container-right {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include card-1023 {
                    flex-direction: row;
                    width: 100%;
                    justify-content: center;
                }

                @include mobile {
                    display: none;
                }
            }

        }
    }
}