.index {
    .banner {
        padding: 0px 42px;
        position: relative;
        display: flex;

        @include cards {
            flex-direction: column
        }

        @include mobile {
            position: static;
            padding: 0px 30px;
        }

        .banner-img {
            @include bg;
            background-image: url("https://bit.ly/2OhbMHr");
            position: relative;
            width: 100%;
            height: 496px;

            @include mobile {
                height: 277px;
            }
        }

        .card-box {
            display: flex;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
            width: 768px;
            height: 256px;

            @include cards {
                position: static;
                width: 100%;
                height: 180px;
                transform: none;
            }

            .card {
                position: relative;
                max-width: 256px;
                width: 100%;
                height: auto;

                .card-bg {
                    @include bg;
                    max-width: 256px;
                    height: auto;
                    width: 100%;
                    height: 100%;
                    filter: blur(7px);
                    transition: filter 1s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .card-bg1 {
                    background-image: url('https://bit.ly/2R5tqwD');
                }

                .card-bg2 {
                    background-image: url('https://bit.ly/2Dwoxd7');
                }

                .card-bg3 {
                    background-image: url('https://bit.ly/2OUteif');
                }

                .card-overlay {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(63, 93, 69, 0.7);
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    z-index: 2;
                    transition: opacity 1s ease;

                    span {
                        @include center;
                        font-size: 24px;
                        color: #ffffff;
                        writing-mode: vertical-rl;

                        @include cards {
                            font-size: 20px;
                        }
                    }
                }

                &:hover {
                    .card-overlay {
                        opacity: 0;
                    }

                    .card-bg {
                        filter: none;
                    }
                }
            }

        }
    }

    .introduce {
        background-color: #EAF0ED;
        margin-top: 274px;
        height: 420px;

        @include mobile {
            display: none;
        }

        .introduce-box {
            display: flex;
            align-items: center;
            padding: 0 42px;

            @include introduce {
                justify-content: space-between;
            }

            .introduce-img {
                img {
                    max-width: 460px;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    margin-top: -20px;
                    display: block;

                    @include introduce-990 {
                        margin: 0;
                        max-width: 420px;
                    }
                }
            }

            .text-box {
                height: 420px;
                padding: 70px 0 70px 55px;
                writing-mode: vertical-rl;
                color: #8DA291;

                .text-box-left {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                .text-box-right {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    padding-right: 64px;
                }
            }

            .text-img {
                height: 460px;
                margin-top: -20px;
                display: block;
                margin-left: auto;

                @include introduce {
                    display: none;
                }
            }
        }


    }
    .introduce2 {
        background-color: #EAF0ED;
        margin-top: 105px;
        height: 420px;

        @include mobile {
            display: none;
        }

        .introduce-box {
            display: flex;
            align-items: center;
            padding: 0 42px;

            @include introduce {
                justify-content: space-between;
            }

            .introduce-img {
                img {
                    max-width: 460px;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    margin-top: -20px;
                    display: block;

                    @include introduce-990 {
                        margin: 0;
                        max-width: 420px;
                    }
                }
            }

            .text-box {
                height: 420px;
                padding: 70px 55px 70px 0px;
                writing-mode: vertical-rl;
                color: #8DA291;

                .text-box-left {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                .text-box-right {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    padding-right: 64px;
                }
            }

            .text-img {
                height: 460px;
                margin-top: -20px;
                display: block;
                padding-right: 42px;

                @include introduce {
                    display: none;
                }
            }
        }


    }

    .introduce-title-sm {
        display: none;

        @include mobile {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            .introduce-title {
                padding: 30px 90px;
                margin: 0 auto;
            }
        }

    }

    .introduce-bg-sm {
        display: none;

        @include mobile {
            @include bg;
            display: flex;
            width: 100%;
            background-image: url('https://bit.ly/2xPn7Eq');
            aspect-ratio: 3 / 2;
        }
    }

    .introduce-text-sm{
        display: none;
        background-color: #EAF0ED;
        @include mobile{
            display: flex;
        }
        .introduce-text{
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .text{
                color: #8DA291;
            }
            
        }
    }

    .introduce-bg-sm-2{
        background-image: url('https://bit.ly/2zzAQS4');
    }

    .last-title{
        max-width: 90px;
        width: 100%;
        padding: 95px 0 80px 0;
        margin: 0 auto;
        @include mobile{
            max-width: none;
            padding: 30px 90px;
        }
    }

    .card-big-box{
        .card-box{
            padding: 0 42px 60px;
            display: flex;
            gap: 20px;
            justify-content: space-between;
            @include mobile{
                gap: 0;
                justify-content: center;
                padding: 0 30px 30px;
            }
            .card1{
                @include card-1023{
                    display: none;
                }
            }
            .card3{
                @include mobile{
                    display: none;
                }
            }
        }
    }
}