
    .order-box {
        max-width: 300px;
        width: 100%;

        .title {
            display: flex;
            justify-content: center;
            background-color: #EAF0ED;
            color: #8DA291;
            font-size: 24px;
            font-weight: 600;
            padding: 16px 0;
        }
        .text-box{
            padding: 0 20px;
            border: 1px solid #EAF0ED;
        .note {
            color: #8DA291;
            display: flex;
            justify-content: space-between;
            font-weight: 300;
        }

        .note1 {
            padding: 16px 0 8px;
        }

    }

    .total {
        color: #8DA291;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }
}