$font-stack-default: 'PingFang TC', 'Helvetica Neue', Helvetica, Arial, sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack-default;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;           
  text-decoration: none;   
}